@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
  font-family: 'Roboto', sans-serif;
  background: #ecf0f1;
}

.top {
 margin-top: 20%;
}

.event-container {
  background-color: white;
  opacity: 0.9;
  margin: 20px 0px 20px 10px;
}

.center-block {
  width: 700px;
  margin: 0 auto;
}

.event-img {
  margin-left: -15px;
}