@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
  font-family: 'Roboto', sans-serif;
  background: #ecf0f1;
}

.top {
 margin-top: 10%;
}

.event-container {
  background-color: white;
  opacity: 0.9;
  margin: 20px 0px 20px 10px;
}

.center-block {
  width: 700px;
  margin: 0 auto;
}

.event-img {
  margin-left: -15px;
}

.marvin-img {
  max-width: 50%;
}

.marvin-img:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.marvin-intro {
  padding-top: 100px;
  font-size: 20px;
}

.marvin-headline {
  font-size: 100px;
  text-transform: uppercase;
}

.midnight-blue {
  color: #2c3e50;
}
