@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

body {
  font-family: 'Roboto', sans-serif;
  background: #ecf0f1;
}

.top {
 margin-top: 20%;
}

.eventContainer {
  background-color: white;
  opacity: 0.9;
}
